<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>
    <style>
	  * {
	    padding: 0;
	    margin: 0;
	  }
	  .fit { /* set relative picture size */
	    max-width: 100%;
	    max-height: 100%;
	  }
	  .center {
	    display: block;
	    margin: auto;
	  }
    </style>
    <head>
        <title>SkyPi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body onload="setTimeout('init(0, 25, 1);', 100);">
        <button id="goLiveButton" onclick="buttonGoLiveClicked()">Go Live!</button>
	<button id="autoPilot" onclick="autoPilotButton()">Turn on AutoPilot</button>

	<input type='text' name='key' hidden=true>
	<button id="submitKey" onclick="submitKey()" hidden = true>Submit Key</button>
	<button id="armQuadCop" onclick="buttonarmQuadCop()">Turn On</button>

        <div id="zone_joystick"></div>
	<pre id="chooseMessage">Choose a color:</pre>
        <img id="mjpeg_copy" style="display: none;">

	<div><img id="mjpeg_dest" src="{{ url_for('static', filename='loading.jpg') }}" class="center fit"></div>
<pre id="output"></pre>
        <div id="zone_joystick2"></div>
        <div id="result"></div>
	<script type="text/javascript" language="JavaScript">
	  function set_body_height() { // set body height = window height
	    $('body').height($(window).height());
	  }
	  $(document).ready(function() {
	    $(window).bind('resize', set_body_height);
	    set_body_height();
	  });
	</script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='nipplejs.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='script2.js') }}"></script>
        <script type="text/javascript">
		var liveModeActive = false;
		var quadCopArmed = false;
		var requestSync = 0;
		var BUSY_WAIT_CONST = 65;
	

		var isChosen = false;
		var img = document.getElementById('mjpeg_dest');
		var img2 = document.getElementById('mjpeg_copy');
		var canvas = document.createElement('canvas');
                img.addEventListener("click",(function(e){

	
                if(true) {
		    img = document.getElementById('mjpeg_dest');
		    img2.src = '';
		    img2.crossOrigin = 'Anonymous';
	            canvas.width = img2.width;
                    canvas.height = img2.height;
                    canvas.getContext('2d').drawImage(img2, 0, 0, img2.width, img2.height);
                    isChosen = true;
		    var pixelData = canvas.getContext('2d').getImageData(e.offsetX, e.offsetY, 1, 1).data;
                    $('#chooseMessage').html('');
                    valuesJson = {"R":pixelData[0], "G":pixelData[1], "B":pixelData[2]};
                    console.log(valuesJson);
                    $.getJSON('/', valuesJson, function(data) {
                                return false;
                    });
                }
                }) );	

			function syncRequests(){
				if (requestSync != BUSY_WAIT_CONST){
					requestSync++;
					return false;
				}

				requestSync = 0;
				return true;
			}
		
			var isAutoPilot = false;
                        document.getElementById('autoPilot').style.background='green';

    			function autoPilotButton(){
				if (!isAutoPilot){
					isAutoPilot = true;
					document.getElementById("autoPilot").innerText = "Turn off AutoPilot";
                                        document.getElementById('autoPilot').style.background='red';
				}
				else{
					isAutoPilot = false
					document.getElementById("autoPilot").innerText = "Turn on AutoPilot";
                                        document.getElementById('autoPilot').style.background='green';
				}
							 
			        valuesJson = {"R":0, "G":0, "B":0};
                        	$.getJSON('/', valuesJson, function(data) {
					return "";
				});
			}
    
    

			function buttonarmQuadCop(){
				var yawValue = 1000;
				var throttleValue = 1000;
				if (!quadCopArmed){
					quadCopArmed = true;
					var elem = document.getElementById("armQuadCop");
					elem.innerText = "Turn OFF";
				}
				else{
					quadCopArmed = false
					document.getElementById("armQuadCop").innerText = "Turn On";
					yawValue = 2000;
				}
							 
				valuesJson = {"throttle":throttleValue, "yaw":yawValue};
				$.getJSON('/', valuesJson, function(data) {
					return "";
					});
				yawValue = 1500;
				valuesJson = {"throttle":throttleValue, "yaw":yawValue};
				$.getJSON('/', valuesJson, function(data) {
					return "";
				});

			}

			function buttonGoLiveClicked() {
				if (!liveModeActive){
					liveModeActive = true;
					document.getElementById("goLiveButton").innerText = "Stop!";
					document.getElementsByName('key')[0].hidden=false;
					document.getElementById("submitKey").hidden = false;
				}
				else{
					liveModeActive = false
					document.getElementById("goLiveButton").innerText = "Go Live!";
					document.getElementsByName('key')[0].hidden = true;
					document.getElementById("submitKey").hidden = true;

				}
					

			}

			function submitKey() {
				document.getElementsByName('key')[0].hidden = true;
	 			streamKey = document.getElementsByName('key')[0].text;
				document.getElementsByName('key')[0].hidden = true;
				document.getElementById("submitKey").hidden = true;
				valuesJson = {"streamKey": streamKey};
				$.getJSON('/', valuesJson, function(data) {
					return "";
				});
			}

	    var options = {
                zone: document.getElementById('zone_joystick'),                  // active zone
                mode: 'static',                   // 'dynamic', 'static' or 'semi'
                color: 'red',
                position: {left: '20%', bottom: '30%'}
            };
            var manager = nipplejs.create(options);
            var initX = manager[0].position.x;
            var initY = manager[0].position.y;
            
    
            var options2 = {
                zone: document.getElementById('zone_joystick2'),                  // active zone
                mode: 'static',                   // 'dynamic', 'static' or 'semi'
                color: 'blue',
                position: {left: '80%', bottom: '30%'}
            };
            var manager2 = nipplejs.create(options2);
            
            
            var initX2 = manager2[0].position.x;
            var initY2 = manager2[0].position.y;
            
            
            manager[0].on('move', function (evt, data){
                //x - yaw, y - throttle
                //busyWait
		
		if(!syncRequests())
			return;
		
		currX = data.position.x - initX;
                currY = initY - data.position.y;
                yawValue = ((150 + currX) * 10);
		yawValue = Math.floor(yawValue);
                throttleValue = ((150 + currY) * 10);
		throttleValue = Math.floor(throttleValue);
                console.log("{x: " + yawValue + ", y: " + throttleValue + "}");
                valuesJson = {"yaw":yawValue, "throttle":throttleValue};
                
                $.getJSON('/', valuesJson, function(data) {
                            $("#result").text(data.result);
                          });
            }).on('end', function(){
                yawValue = 1500;
                
                valuesJson = {"yaw":yawValue};
                $.getJSON('/', valuesJson, function(data) {
                            $("#result").text(data.result);
                          });
                
            });
            
            manager2[0].on('move', function (evt, data){
                //x - roll, y - pitch
		//busyWait
		if(!syncRequests())
			return;
		
                currX = data.position.x - initX2;
                currY = initY2 - data.position.y;
                rollValue = ((150 + currX) * 10);
		rollValue = Math.floor(rollValue);
                pitchValue = ((150 + currY) * 10);
		pitchValue = Math.floor(pitchValue);
                console.log("{x: " + rollValue + ", y: " + pitchValue + "}");
                valuesJson = {"roll":rollValue, "pitch":pitchValue};
                
                $.getJSON('/', valuesJson, function(data) {
                            $("#result").text(data.result);
                          });
            }).on('end', function(){
                rollValue = 1500;
                pitchValue = 1500;
                
                valuesJson = {"roll":rollValue, "pitch":pitchValue};

                $.getJSON('/', valuesJson, function(data) {
                            $("#result").text(data.result);
                          }); 
                
            });			
        </script>

    </body>
</html>
